.login-menu {
  margin-bottom: 20px;
}

.login-menu__item {
  float: right;
  padding: 0 10px;
}

.login-menu__item > a {
  text-transform: uppercase;
}

.login-menu__item-cta > a {
  color: #e65253;
}

.login-menu-with-border {
  border-right: 2px solid #E5E3E3;
}
