.navbar {
  text-align: right;
}

.navbar__item {
  padding: 10px 0;
  text-transform: uppercase;
}

@media screen and (max-width: 400px) {
  .navbar__item {
    /* background: red; */
  }
}

.navbar__item > a {
  color: #717171;
}

.navbar__item:after {
  content: '';
  background: url('../../../src/images/sprite.png') no-repeat -87px -343px;
  width: 6px;
  height: 11px;
  display: inline-block;
  margin-left: 15px;
}

.navbar__item-plus:after {
  background: url('../../../src/images/sprite.png') no-repeat -13px -341px;
  width: 15px;
  height: 15px;
}

@media screen and (max-width: 768px) {
  /* tablet para abajo */
}

@media screen and (min-width: 768px) {
  // donde termina tablet y donde empieza desktop para arriba
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  // tablet sin contar telefonos
}
